.message {
  display: flex;
  flex-direction: column;
  margin: 20px 1% 0 1%;
  width: 100%;
  border-radius: 5px;
}
.message.own {
  align-items: flex-end;
}

.messageTop {
  display: flex;
}
.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  color: white;
  max-width: 300px;
  background-color: rgb(3, 0, 190);
  padding: 5px 15px;
}
.message.own .messageText {
  background-color: rgb(190, 190, 190);
  color: black;
}
.messageBottom {
  font-size: 12px;
  margin-top: 10px;
  color: rgb(139, 139, 139);
}
