.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.message.own {
  align-items: flex-end;
}

.messageTop {
  display: flex;
}
.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  color: white;
  max-width: 300px;
}
.message.own .messageText {
  background-color: rgb(190, 190, 190);
  color: black;
}
.messaageBottom {
  font-size: 12px;
  margin-top: 10px;
}
